html,
head,
body,
canvas,
div {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}
